@media screen and (min-width: 1000px) {
    .header {
    
        background-color: white;
        display: flex;
        width: 100%;
        height: 100px;
        /* background-image: url("headerTry2.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;  */

    }

    .logo img {
        height: 100%; 
        width: auto; /* for good aspect ratio */
    }

    .navBar {
        display: flex;
        gap: 30px;
        margin-left: 50px; /* margin to separate the logo and nav bar */
    }

    .navB {
        text-decoration: none;
        color: black;
        font-weight: 500;
        font-family: 'Segoe UI';
        font-size: 14px; 
    }

    .utilNavBar {
        display: flex;
        gap: 25px;
        margin-left: auto; /* Push the utility bar to the right */
        margin-right: 40px;
        align-items: center;
        
    }

    .utilNavBar a{
        text-decoration: none;
    }

    /* this is for desktop/laptop header */
    .uBarNoSing {
        text-decoration: none;
        color: black;
        font-family: 'Segoe UI light';
        font-size: 20px; 
        font-weight: bold;

    }
    .signUp {
        border: none;
        background-color: #28883A; 
        color: white; 
        padding: 8px 15px;

        
        font-family: 'Segoe UI';
        font-size: 12px;
        font-weight: 600;

       
    }

    .gaudiImgContainer {
        width: 100%;
        height: calc((100% - 100px)); 

        overflow: hidden;
    }

    /* Style inputs with type="text", select elements and textareas */
    input[type=text], select, textarea {
        width: 100%; /* Full width */
        padding: 12px; /* Some padding */ 
        border: 1px solid #ccc; /* Gray border */
        border-radius: 15px; /* Rounded borders */
        box-sizing: border-box; /* Make sure that padding and width stays in place */
        margin-top: 6px; /* Add a top margin */
        margin-bottom: 16px; /* Bottom margin */
        resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
    }
    
    /* Style the submit button with a specific background color etc */
    button[type=submit] {
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 15px;
        cursor: pointer;
    }
    
    /* When moving the mouse over the submit button, add a darker green color */
    button[type=submit]:hover {
        background-color: #45a049;
    }
    
    /* Add a background color and some padding around the form */
    .outercontainer {
        width: 100%;
        border-radius: 5px;
        background-color: white;
        padding: 20px;
        display: flex;
    }
    .contact{
        width: 60%;
        /* background-color: #f2f2f2; */
        background-image: url("gaudiStyle.png");
        border-radius: 15px;
        padding: 20px;

    }
    .lizard {
        text-align:center;
        width: 40%;
        margin: auto;
    }

    .lizard img {
        width: 60%;
        margin:auto;
    }





}