@media screen and (min-width: 1000px) {
    .header {
    
        background-color: white;
        display: flex;
        width: 100%;
        height: 18vh;
        align-items: center;  
        
    }

    .logo {
        height: 100%;
    }
    
    .logo img {
        height: 100%; 
        width: auto; /* for good aspect ratio */
    }

    .navBar {
        display: flex;
        gap: 30px;
        margin-left: 50px; /* margin to separate the logo and nav bar */
    }

    .navB {
        text-decoration: none;
        color: black;
        font-weight: 500;
        font-family: 'Segoe UI';
        font-size: 14px; 
    }

    .utilNavBar {
        display: flex;
        gap: 25px;
        margin-left: auto; /* Push the utility bar to the right */
        margin-right: 40px;
        align-items: center;
        
    }

    .utilNavBar a{
        text-decoration: none;
    }

    .uBarNoSing {
        text-decoration: none;
        color: black;
        font-family: 'Segoe UI light';
        font-size: 20px; 
        font-weight: bold;

    }
    .signUp {
        border: none;
        background-color: #28883A; 
        color: white; 
        padding: 8px 15px;

        
        font-family: 'Segoe UI';
        font-size: 12px;
        font-weight: 600;

    
       
    }

    .blueBlock {
        background-color: #19325B;
        width: 100%;
        height: 44%;


        
    }

    .See {

        padding-top: 40px;
        text-align: center;
        color: white;

        font-weight: 700;
        font-family: 'Segoe UI';
        font-size: 45px; 

        }


    .Our {
        width: 23%;
        margin: auto;
        padding-top: 20px;
        text-align: center;
        color: white;

        font-weight: 200;
        font-family: 'Segoe UI';
        font-size: 15px; 


    }

    .button {
        text-align: center;
        
        margin: auto;
        
        

    }

    .Request {
        display: block; 
        
        margin: 45px auto;


        background-color: #28883A;
        border: none;
        color: white;
        padding: 15px 25px;



    }

    .blockWithImages{
        display: flex;

    }

    .blockWithImages > div{
        background-color: white;
        width: 33vw;
        margin: 3vw 3vw;
        display: flex;

        align-items: center;
        flex-direction: column;



    }

    .icon img {
        width: 100px; /* Set a fixed width to make images smaller */
        height: auto; /* for good aspect ratio */

    }

    .iconNumb {
        color: black;
        font-family: 'Segoe UI';
        font-weight: 700;


    }

    .textUnderImg {
        text-decoration: none;
        color: black;
        font-size: 12px;
        font-family: 'Segoe UI light';


    }

    /* Style inputs with type="text", select elements and textareas */
    input[type=text], select, textarea {
        width: 100%; /* Full width */
        padding: 12px; /* Some padding */ 
        border: 1px solid #ccc; /* Gray border */
        border-radius: 4px; /* Rounded borders */
        box-sizing: border-box; /* Make sure that padding and width stays in place */
        margin-top: 6px; /* Add a top margin */
        margin-bottom: 16px; /* Bottom margin */
        resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
    }
    
    /* Style the submit button with a specific background color etc */
    input[type=submit] {
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    /* When moving the mouse over the submit button, add a darker green color */
    input[type=submit]:hover {
        background-color: #45a049;
    }
    
    /* Add a background color and some padding around the form */
    .outercontainer {
        width: 100%;
        border-radius: 5px;
        background-color: white;
        padding: 20px;
        display: flex;
    }
    .contact{
        width: 60%;
        background-color: #f2f2f2;
        border-radius: 15px;
        padding: 20px;

    }
    .lizard {
        text-align:center;
        width: 40%;
        margin: auto;
    }

    .lizard img {
        width: 60%;
        margin:auto;
    }





}